<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title> Add Smash Players</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<h2>Add Player</h2>
		<div class="col-md-4">
		<form th:object="${player}" th:action="@{save}" action="#" method="post">
			<label for="tag">Tag</label>
		<input type="text" id="tag" th:field="*{tag}" class="form-control"/>
		<div style="clear:  both; display: block; height: 10px;"></div>
			<label for="region">Region</label>
		<input type="text" id="region" th:field="*{region}" class="form-control"/>
		<div th:if="${#fields.hasErrors(’region')}" th:errors="*{region}">Error</div>
		<div style="clear:  both; display: block; height: 10px;"></div>
		
		
		<label for="characterlist">Character</label>
		<select id="characterlist" th:field="*{character}" class="form-control">
			<option th:each="character: ${characters}" th:value="${character.characterid}" th:text="${character.name}"></option>
		</select>
		
		<div style="clear:  both; display: block; height: 10px;"></div>
		<input type="submit" class="btn btn-primary" value="Save"></input>
		</form>
		</div>
		<a href="/characterlist" class="btn btn-primary">Back</a>
	</div>
		
</body>
</html>