<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>players</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1><span th:text="#{title}"></span></h1>
	<div>
	<h3 th:inline="text"><span th:text="#{welcome}"></span> [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
	<form th:action="@{/logout}" method="post">
	<input type="submit" value="Log Out" class="btn btn-sm btn-danger"/>
	</form>
	</div>
	
    <button type="button" th:text="#{switch-en}" 
    onclick="window.location.href='http://localhost:8080/playerlist?localeData=en'"></button>
    <button type="button" th:text="#{switch-fi}" 
    onclick="window.location.href='http://localhost:8080/playerlist?localeData=fi'"></button>
	
	<div sec:authorize="isAnonymous()">
	<form th:action="@{/login}" method="post">
	<input type="submit" value="Log in" class="btn btn-sm btn-danger"/>
	</form>
	</div>
	
	<table class="table table-striped">
		<tbody>
			<tr>
				<tr>
				<th><span th:text="#{tag}"></span></th>
			
				<th><span th:text="#{region}"></span></th>
				<th></th>
				<th><span th:text="#{char}"></span></th>
				<th></th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
			</tr>
			<tr th:each = "player : ${players}">
				<td th:text="${player.tag}"></td>
				<td><img src="${player.region}?${player.region.flag}" class="flag" th:src="${player.region}?${player.region.flag}" width="40" height="40"></td>
				<td th:text="${player.region}?${player.region.name}"></td>
				<td th:text="${player.character}?${player.character.name}"></td>
				<td><img src="${player.character}?${player.character.icon}" class="icon" th:src="${player.character}?${player.character.icon}" width="40" height="40"></td>
				<td sec:authorize="hasAuthority('ADMIN')"> <a th:href="@{/delete/{id}(id=${player.id})}" class="btn btn-xs btn-danger">Delete</a></td>
			</tr>
		
		</tbody>
	</table>
	<table>
	<tbody>
	<tr>
	<td sec:authorize="hasAuthority('ADMIN')"> <a href="/add" class="btn btn-primary">Add Player</a></td>
	<td sec:authorize="hasAnyAuthority('ADMIN', 'USER')"><a href="/characterlist" class="btn btn-primary">Characters</a></td>
	<td sec:authorize="hasAnyAuthority('ADMIN', 'USER')"><a href="/regionlist" class="btn btn-primary">Regions</a></td>
	</tr>
	</tbody>
	</table>
</body>
</html>